@import '../../variables.scss';

header {
	background: $main_brown;

	.container {
		position: relative;

		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.left {
		display: flex;

		&>* {
			margin: 0 10px;
		}

		.logo {
			svg {
				height: 40px;
				width: 40px;
				fill: #fff;
				vertical-align: middle;
			}
		}
	}

	.title {
		height: max-content;

		h1 {
			font-size: 32px;
			text-transform: uppercase;
			letter-spacing: 4px;
		}
	}

	.right {
		display: flex;

		&>* {
			margin: 0 10px;
		}

		a {
			display: inline-block;
			width: 40px;
		}
	}

	.fa {
		color: #fff;
		font-size: 40px;
		font-weight: 100;
	}

	#burger {
		display: inline-block;
		position: relative;
		width: 40px;
		height: 40px;
		cursor: pointer;
		z-index: 1;

		&:hover {

			span,
			&:before,
			&:after {
				background: #000;
			}
		}

		&>span {
			background: #fff;
			position: absolute;
			width: 100%;
			height: 4px;
			border-radius: 2px;

			left: 0;
			top: 18px;
			transition: all 0.3s linear;
		}

		&:before,
		&:after {
			content: '';
			background: #fff;
			position: absolute;
			width: 100%;
			height: 4px;
			border-radius: 3px;
			transition: all 0.3s linear;
		}

		&:before {
			top: 5px;
		}

		&:after {
			bottom: 5px;
		}

		&.active span {
			transform: scale(0);
		}

		&.active:before {
			transform: rotate(45deg);
			top: 18px;
		}

		&.active:after {
			transform: rotate(-45deg);
			bottom: 18px;
		}
	}
}